@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
.container {
  @apply mx-auto;
  width: 95%;
}
body, #__next {
    background-color: #5CDA50 !important;
  margin: 0;
  padding: 0;
}